In [56]:
import pandas as pd
import numpy as np

In [57]:
df = pd.read_csv("Machine Downtime.csv")
df.head()

,Date,Machine_ID,Assembly_Line_No,Hydraulic_Pressure(bar),Coolant_Pressure(bar),Air_System_Pressure(bar),Coolant_Temperature,Hydraulic_Oil_Temperature(?C),Spindle_Bearing_Temperature(?C),Spindle_Vibration(?m),Tool_Vibration(?m),Spindle_Speed(RPM),Voltage(volts),Torque(Nm),Cutting(kN),Downtime
0,31-12-2021,Makino-L1-Unit1-2013,Shopfloor-L1,71.04,6.933725,6.284965,25.6,46.0,33.4,1.291,26.492,25892.0,335.0,24.055326,3.58,Machine_Failure
1,31-12-2021,Makino-L1-Unit1-2013,Shopfloor-L1,125.33,4.936892,6.196733,35.3,47.4,34.6,1.382,25.274,19856.0,368.0,14.202890,2.68,Machine_Failure
2,31-12-2021,Makino-L3-Unit1-2015,Shopfloor-L3,71.12,6.839413,6.655448,13.1,40.7,33.0,1.319,30.608,19851.0,325.0,24.049267,3.55,Machine_Failure
3,31-05-2022,Makino-L2-Unit1-2015,Shopfloor-L2,139.34,4.574382,6.560394,24.4,44.2,40.6,0.618,30.791,18461.0,360.0,25.860029,3.55,Machine_Failure
4,31-03-2022,Makino-L1-Unit1-2013,Shopfloor-L1,60.51,6.893182,6.141238,4.1,47.3,31.4,0.983,25.516,26526.0,354.0,25.515874,3.55,Machine_Failure

In [58]:
df.columns

Index(['Date', 'Machine_ID', 'Assembly_Line_No', 'Hydraulic_Pressure(bar)',
       'Coolant_Pressure(bar)', 'Air_System_Pressure(bar)',
       'Coolant_Temperature', 'Hydraulic_Oil_Temperature(?C)',
       'Spindle_Bearing_Temperature(?C)', 'Spindle_Vibration(?m)',
       'Tool_Vibration(?m)', 'Spindle_Speed(RPM)', 'Voltage(volts)',
       'Torque(Nm)', 'Cutting(kN)', 'Downtime'],
      dtype='object')

In [59]:
df = df.drop(columns=['Date', 'Assembly_Line_No', 'Hydraulic_Pressure(bar)','Coolant_Pressure(bar)', 'Air_System_Pressure(bar)','Hydraulic_Oil_Temperature(?C)',
       'Spindle_Bearing_Temperature(?C)', 'Spindle_Vibration(?m)',
       'Tool_Vibration(?m)', 'Spindle_Speed(RPM)', 'Voltage(volts)',
       'Torque(Nm)', 'Cutting(kN)'])

In [60]:
df = df.rename(columns={'Coolant_Temperature':'Temperature','Downtime':'Downtime_Flag'})
df.head()

             Machine_ID  Temperature    Downtime_Flag
0  Makino-L1-Unit1-2013         25.6  Machine_Failure
1  Makino-L1-Unit1-2013         35.3  Machine_Failure
2  Makino-L3-Unit1-2015         13.1  Machine_Failure
3  Makino-L2-Unit1-2015         24.4  Machine_Failure
4  Makino-L1-Unit1-2013          4.1  Machine_Failure

In [61]:
df['Downtime_Flag'].unique()

array(['Machine_Failure', 'No_Machine_Failure'], dtype=object)

In [62]:
df['Downtime_Flag'] = df['Downtime_Flag'].map({'Machine_Failure':'1', 'No_Machine_Failure':'0'})
df.head()

             Machine_ID  Temperature Downtime_Flag
0  Makino-L1-Unit1-2013         25.6             1
1  Makino-L1-Unit1-2013         35.3             1
2  Makino-L3-Unit1-2015         13.1             1
3  Makino-L2-Unit1-2015         24.4             1
4  Makino-L1-Unit1-2013          4.1             1

In [67]:

df['Run_Time'] = np.random.randint(50, 200, size=len(df))
df.head()

             Machine_ID  Temperature Downtime_Flag  Run_Time
0  Makino-L1-Unit1-2013         25.6             1       166
1  Makino-L1-Unit1-2013         35.3             1       162
2  Makino-L3-Unit1-2015         13.1             1       103
3  Makino-L2-Unit1-2015         24.4             1       139
4  Makino-L1-Unit1-2013          4.1             1       104

In [76]:
print(df.isnull().sum())

Machine_ID        0
Temperature      12
Downtime_Flag     0
Run_Time          0
dtype: int64

In [77]:
df = df.dropna()
print(df.isnull().sum())

Machine_ID       0
Temperature      0
Downtime_Flag    0
Run_Time         0
dtype: int64

In [78]:
df.to_csv("final_data.csv", index=False)